.container{
    background-image:url('./assests/screen1.jpg') ;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    /* background:no-repeat; */
    background-repeat: no-repeat;
    background-size: cover;
}